### Create with [] or list()

In [1]:
empty_list = []
new_empty_list = list()
print (empty_list)
print (new_empty_list)
empty_list == new_empty_list

[]
[]

True

### Convert other data types to lists with list()

In [2]:
list ('cat')

['c', 'a', 't']

In [3]:
list('c','a','t') # doesn't work because ???

TypeError: list() takes at most 1 argument (3 given)

In [4]:
list(cat) # doesn't work because ???

NameError: name 'cat' is not defined

In [6]:
a_tuple = ('ready', 'set', 'go')
print (a_tuple)
list(a_tuple)

('ready', 'set', 'go')

['ready', 'set', 'go']

#### Using Split() to chop a string into a list by some separator string:

In [12]:
birthday = '27/11/1974'
birthday.split('/')

['27', '11', '1974']

In [13]:
splitme = 'a/b//c/d///e'
splitme.split('//')

['a/b', 'c/d', '/e']

#### Can you split a list?

In [31]:
list = ['Abc', 'Bcd', 'Cde']
list

['Abc', 'Bcd', 'Cde']

In [33]:
list.split('c')

AttributeError: 'list' object has no attribute 'split'

### Get an item using an [offset]

In [14]:
marxes = ['Groucho','Chico','Harpo']
marxes[0]

'Groucho'

In [15]:
Marxes[0]

NameError: name 'Marxes' is not defined

In [16]:
marxes[2]

'Harpo'

In [20]:
marxes[2] = 'Billy'
marxes[2]

'Billy'

In [21]:
marxes

['Groucho', 'Chico', 'Billy']

In [22]:
marxes[-1]

'Billy'

In [23]:
marxes[-2]

'Chico'

In [24]:
marxes[-3]

'Groucho'

In [25]:
marxes[-4] # index offset must be within a valid range

IndexError: list index out of range

#### Why don't these work...?

#### You cannot change a character in string in this way. "Strings are immutable, Lists are mutable". It is possible to only change how many items a list contains, and the items themselves.

In [9]:
list(a_tuple)

['ready', 'set', 'go']

In [10]:
list(a_tuple)[0]

'ready'

In [11]:
list(a_tuple)[0] = 'stop' # why won't it get changed to 'stop'?
list(a_tuple)[0]

'ready'

In [26]:
list(a_tuple[0])

['r', 'e', 'a', 'd', 'y']

In [27]:
list(a_tuple[0]) = 'stop'

SyntaxError: can't assign to function call (<ipython-input-27-57a60843c3aa>, line 1)

In [28]:
list(a_tuple[0]) = 'Z'

SyntaxError: can't assign to function call (<ipython-input-28-33eed951d66d>, line 1)

### List of Lists

In [35]:
weekdays = ['Mon', 'Tues','Weds','Thurs','Fri']
weekends = ['Sat','Sun']
list = [weekdays, 'Python', weekends,'flying']
list

[['Mon', 'Tues', 'Weds', 'Thurs', 'Fri'], 'Python', ['Sat', 'Sun'], 'flying']

In [36]:
list[1]

'Python'

In [37]:
list[2][1]

'Sun'

### Change an Item by [offset]

In [38]:
weekdays

['Mon', 'Tues', 'Weds', 'Thurs', 'Fri']

In [39]:
weekdays[2] = 'November' # remember list offset needs to be valid
weekdays

['Mon', 'Tues', 'November', 'Thurs', 'Fri']

### Get a slice to Extract Items by Offset range

#### Remember: Slice with [start:end:step]

In [40]:
marxes

['Groucho', 'Chico', 'Billy']

In [41]:
marxes[0:2]

['Groucho', 'Chico']

In [42]:
marxes[::2]

['Groucho', 'Billy']

In [43]:
marxes[::-2]

['Billy', 'Groucho']

In [44]:
marxes[::-1] # trick to reverse a list!

['Billy', 'Chico', 'Groucho']

### Add an Item to the end with append()

In [52]:
list1 = ['square','circle','pyramid']
list1

['square', 'circle', 'pyramid']

In [53]:
list1.append('rectangle')
list1

['square', 'circle', 'pyramid', 'rectangle']

### Combine lists using extend() or +=

In [58]:
list1 = ['square','circle','pyramid','rectangle']
list1

['square', 'circle', 'pyramid', 'rectangle']

In [59]:
list2 = ['hexagon','tetrahedron']
list2

['hexagon', 'tetrahedron']

In [60]:
list1.extend(list2)
list1

['square', 'circle', 'pyramid', 'rectangle', 'hexagon', 'tetrahedron']

In [61]:
list3 = ['book','pencil']
list3

['book', 'pencil']

In [62]:
list4 = ['typewriter','keyboard']
list4

['typewriter', 'keyboard']

In [63]:
list3 += list4
list3

['book', 'pencil', 'typewriter', 'keyboard']

In [64]:
list5 = ['one','two']
list6 = ['3','4','5']
list5.append(list6)
list5

['one', 'two', ['3', '4', '5']]

### Add an Item by Offset with insert()

In [1]:
names = ['Ant','Angela','Max','Ryan']
names

['Ant', 'Angela', 'Max', 'Ryan']

In [2]:
names.insert(2,'Leighton')
names

['Ant', 'Angela', 'Leighton', 'Max', 'Ryan']

In [3]:
names.insert(100,'Jake') # like append(), don't worry about the size of the list with insert()
names

['Ant', 'Angela', 'Leighton', 'Max', 'Ryan', 'Jake']

### Delete an Item by Offset using del

In [4]:
names

['Ant', 'Angela', 'Leighton', 'Max', 'Ryan', 'Jake']

In [5]:
del.names[-1]
names

SyntaxError: invalid syntax (<ipython-input-5-0564dff31faf>, line 1)

#### del is a Python statement, not a list method, hence the error. I.e. you don't use it as names[-1].del()

In [6]:
del names[-1]
names

['Ant', 'Angela', 'Leighton', 'Max', 'Ryan']

#### note list order positions move accordingly:

In [7]:
names

['Ant', 'Angela', 'Leighton', 'Max', 'Ryan']

In [8]:
names[2]

'Leighton'

In [9]:
del names[2]
names

['Ant', 'Angela', 'Max', 'Ryan']

In [10]:
names[2]

'Max'

### Get an Item by Offset and delete it using pop()

In [11]:
names

['Ant', 'Angela', 'Max', 'Ryan']

In [12]:
names.pop()
names

['Ant', 'Angela', 'Max']

In [13]:
names.pop(1)
names

['Ant', 'Max']

#### Use append() and pop() to perform stack LIFO and FIFO operations.

### Find an Items's Offset by value with index()

In [14]:
names

['Ant', 'Max']

In [15]:
names.index('Anthony')

ValueError: 'Anthony' is not in list

In [16]:
names.index('Ant')

0

### Test for a value with in

In [17]:
names

['Ant', 'Max']

In [18]:
'Ant' in names # even if it appears more than once in the list

True

In [19]:
'Ryan' in names

False

### Count Occurences of a value using count()

#### If you check the existence of a value in a list often and don't care about the order of items, use a set instead.

In [21]:
months = ['J', 'F', 'M','A','M','J','J','A','S','O','N','D']
months

['J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D']

In [22]:
months.count() # this doesn't work - use len() instead.

TypeError: count() takes exactly one argument (0 given)

In [23]:
months.count('J')

3

### Convert to a string with join()

#### Note: join() is a string method, not a list() method. You cannot use names.join(', '). join() is the opposite of split().

In [24]:
names

['Ant', 'Max']

In [25]:
', '.join(names)

'Ant, Max'

### Reorder Items with sort()

#### Use sort(() for sorting lists by their values not positions ('offsets').  Use sort() to sort the list itself, in place. Use the function sorted() to return a sorted COPY of the list.

In [28]:
banks = ['Westpac','BNZ','ANZ','HSBC']
banks

['Westpac', 'BNZ', 'ANZ', 'HSBC']

In [29]:
sorted_banks = sorted(banks)
sorted_banks

['ANZ', 'BNZ', 'HSBC', 'Westpac']

In [30]:
banks # not sorted

['Westpac', 'BNZ', 'ANZ', 'HSBC']

In [31]:
banks.sort() # will change the list banks
banks

['ANZ', 'BNZ', 'HSBC', 'Westpac']

In [33]:
banks.sort(reverse = True) # sort it to descending
banks

['Westpac', 'HSBC', 'BNZ', 'ANZ']

### Get length using len()

In [34]:
banks

['Westpac', 'HSBC', 'BNZ', 'ANZ']

In [35]:
len(banks)

4

### Assign with =, Copy with copy()

#### When you assign one list to another variable, changing the list in one place changes it in the other too.

In [41]:
a = ['1','2','3']
a

['1', '2', '3']

In [38]:
b = [1,2,3]
b

[1, 2, 3]

In [40]:
c = b
c

[1, 2, 3]

In [42]:
c[0] = 'surprise'
c

['surprise', 2, 3]

In [43]:
b

['surprise', 2, 3]

#### You can copy the values of a list to an independant fresh list by using any of these methods: 1) the list copy() function, 2) the list() conversion function, 3) the list slice[:]

In [46]:
g = [1,2,3]
h = g.copy()
i = list(g)
j = g[:]
g[0] = 'this is a change'
print (g)
print (h)
print (i)
print (j)

['this is a change', 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [47]:
g

['this is a change', 2, 3]

In [48]:
j

[1, 2, 3]